[package]
cairo-version = "2.3.1"
description = "Implementations of a defi primitives for the Dojo framework"
name = "dojo_defi"
version = "0.3.3"

[lib]

[dependencies]
cubit = { git = "https://github.com/influenceth/cubit" }

dojo = { path = "../dojo-core" }

[[target.dojo]]
