**/target
workspace
.idea/
dojo.iml
*.db
*.db-wal
*.db-shm
.DS_Store
.env
data
**/katana-logs

crates/benches/gas_usage.txt
output.txt
**/katana-logs
crates/benches/bench_results.txt
**/generated
.vscode
bindings
justfile
spawn-and-move-db
types-test-db
examples/spawn-and-move/manifests/saya/**
**/*.log

artifacts/

crates/katana/explorer/ui
