[workspace]

resolver = "2"

members = [
    "crates/cairo-lang-dojo",
    "crates/dojo-cli",
    "crates/indexer",
    "crates/dojo-language-server",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
repository = "https://github.com/dojoengine/dojo/"
license = "Apache-2.0"
license-file = "LICENSE"

[workspace.dependencies]
env_logger = "0.9.3"
indoc = "1.0.7"
itertools = "0.10.3"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0"
smol_str = "0.1.23"
toml = "0.4.2"
test-log = "0.2.11"
