[workspace]
resolver = "2"

members = [
	"bin/dojo-language-server",
	"bin/katana",
	"bin/saya",
	"bin/scheduler",
	"bin/sozo",
	"bin/torii",
	#	"crates/benches",
	"crates/dojo-bindgen",
	"crates/dojo-core",
	"crates/dojo-lang",
	"crates/dojo-test-utils",
	"crates/dojo-types",
	"crates/dojo-utils",
	"crates/dojo-world",
	"crates/dojo-world/abigen",
	"crates/katana/controller",
	"crates/katana/core",
	"crates/katana/executor",
	"crates/katana/node",
	"crates/katana/node-bindings",
	"crates/katana/pool",
	"crates/katana/primitives",
	"crates/katana/rpc/rpc",
	"crates/katana/rpc/rpc-api",
	"crates/katana/rpc/rpc-types",
	"crates/katana/rpc/rpc-types-builder",
	"crates/katana/runner",
	"crates/katana/runner/runner-macro",
	"crates/katana/storage/codecs",
	"crates/katana/storage/codecs/derive",
	"crates/katana/storage/db",
	"crates/katana/storage/provider",
	"crates/katana/tasks",
	"crates/metrics",
	"crates/saya/core",
	"crates/saya/provider",
	"crates/sozo/signers",
	"crates/torii/client",
	"crates/torii/server",
	"crates/torii/types-test",
	"examples/spawn-and-move",
	"xtask/generate-test-db",
]

[workspace.package]
edition = "2021"
license = "Apache-2.0"
license-file = "LICENSE"
repository = "https://github.com/dojoengine/dojo/"
version = "1.0.0-alpha.9"

[profile.performance]
codegen-units = 1
incremental = false
inherits = "release"
lto = "fat"

[workspace.dependencies]
cainome = { git = "https://github.com/cartridge-gg/cainome", tag = "v0.3.2", features = [ "abigen-rs" ] }
dojo-utils = { path = "crates/dojo-utils" }

# metrics
dojo-metrics = { path = "crates/metrics" }

# dojo-lang
dojo-bindgen = { path = "crates/dojo-bindgen" }
dojo-core = { path = "crates/dojo-core" }
dojo-lang = { path = "crates/dojo-lang" }
dojo-test-utils = { path = "crates/dojo-test-utils" }
dojo-types = { path = "crates/dojo-types" }
dojo-world = { path = "crates/dojo-world" }

# dojo-world
topological-sort = "0.2"

# katana
katana-cairo = { path = "crates/katana/cairo" }
katana-codecs = { path = "crates/katana/storage/codecs" }
katana-codecs-derive = { path = "crates/katana/storage/codecs/derive" }
katana-core = { path = "crates/katana/core", default-features = false }
katana-db = { path = "crates/katana/storage/db" }
katana-executor = { path = "crates/katana/executor" }
katana-node = { path = "crates/katana/node", default-features = false }
katana-pool = { path = "crates/katana/pool" }
katana-primitives = { path = "crates/katana/primitives" }
katana-provider = { path = "crates/katana/storage/provider" }
katana-rpc = { path = "crates/katana/rpc/rpc" }
katana-rpc-api = { path = "crates/katana/rpc/rpc-api", default-features = false }
katana-rpc-types = { path = "crates/katana/rpc/rpc-types" }
katana-rpc-types-builder = { path = "crates/katana/rpc/rpc-types-builder" }
katana-runner = { path = "crates/katana/runner" }
katana-slot-controller = { path = "crates/katana/controller" }
katana-tasks = { path = "crates/katana/tasks" }

# torii
torii-client = { path = "crates/torii/client" }
torii-core = { path = "crates/torii/core" }
torii-graphql = { path = "crates/torii/graphql" }
torii-grpc = { path = "crates/torii/grpc" }
torii-relay = { path = "crates/torii/libp2p" }
torii-server = { path = "crates/torii/server" }

# saya
saya-core = { path = "crates/saya/core" }
saya-provider = { path = "crates/saya/provider" }

# sozo
sozo-ops = { path = "crates/sozo/ops" }
sozo-signers = { path = "crates/sozo/signers" }

anyhow = "1.0.80"
assert_fs = "1.1"
assert_matches = "1.5.0"
async-trait = "0.1.77"
auto_impl = "1.2.0"
base64 = "0.21.2"
bigdecimal = "0.4.1"
bytes = "1.6"
cairo-lang-compiler = "=2.7.0"
cairo-lang-debug = "=2.7.0"
cairo-lang-defs = "=2.7.0"
cairo-lang-diagnostics = "=2.7.0"
cairo-lang-filesystem = "=2.7.0"
cairo-lang-formatter = "=2.7.0"
cairo-lang-language-server = "=2.7.0"
cairo-lang-lowering = "=2.7.0"
cairo-lang-parser = "=2.7.0"
cairo-lang-plugins = { version = "=2.7.0", features = [ "testing" ] }
cairo-lang-project = "=2.7.0"
cairo-lang-semantic = "=2.7.0"
cairo-lang-sierra = "=2.7.0"
cairo-lang-sierra-generator = "=2.7.0"
cairo-lang-sierra-to-casm = "=2.7.0"
cairo-lang-starknet = "=2.7.0"
cairo-lang-starknet-classes = "=2.7.0"
cairo-lang-syntax = "=2.7.0"
cairo-lang-test-plugin = "=2.7.0"
cairo-lang-test-runner = "=2.7.0"
cairo-lang-test-utils = "=2.7.0"
cairo-lang-utils = "=2.7.0"
cairo-proof-parser = { git = "https://github.com/cartridge-gg/cairo-proof-parser", branch = "v0.3.0/new-felt" }
cairo-vm = "1.0.0-rc4"
camino = { version = "1.1.2", features = [ "serde1" ] }
chrono = { version = "0.4.24", features = [ "serde" ] }
clap = { version = "4.5.4", features = [ "derive" ] }
clap-verbosity-flag = "2.0.1"
clap_complete = "4.3"
console = "0.15.7"
convert_case = "0.6.0"
crypto-bigint = { version = "0.5.3", features = [ "serde" ] }
derive_more = "0.99.17"
flate2 = "1.0.24"
futures = "0.3.30"
futures-util = "0.3.30"
hex = "0.4.3"
http = "0.2.9"
indexmap = "2.2.5"
indoc = "1.0.7"
itertools = "0.12.1"
jsonrpsee = { version = "0.16.2", default-features = false }
lazy_static = "1.4.0"
log = "0.4.21"
metrics = "0.23.0"
num-traits = { version = "0.2", default-features = false }
once_cell = "1.0"
parking_lot = "0.12.1"
pretty_assertions = "1.2.1"
rand = "0.8.5"
rayon = "1.8.0"
regex = "1.10.3"
reqwest = { version = "0.12", features = [ "blocking", "json", "rustls-tls" ], default-features = false }
rpassword = "7.2.0"
rstest = "0.18.2"
rstest_reuse = "0.6.0"
salsa = "0.16.1"
scarb = { git = "https://github.com/software-mansion/scarb", tag = "v2.7.0" }
scarb-ui = { git = "https://github.com/software-mansion/scarb", tag = "v2.7.0" }
semver = "1.0.5"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = { version = "1.0", features = [ "arbitrary_precision" ] }
serde_with = "2.3"
similar-asserts = "1.5.0"
smol_str = { version = "0.2.0", features = [ "serde" ] }
sqlx = { version = "0.7.2", features = [ "chrono", "macros", "regexp", "runtime-async-std", "runtime-tokio", "sqlite", "uuid" ] }
starknet = "0.11.0"
starknet-crypto = "0.7.0"
# `starknet-rs` is using `starknet-types-core` 0.1.3, but we need >=0.1.4 because
# we need this <https://github.com/starknet-io/types-rs/pull/75>. So we put strict
# requirement here to prevent from being downgraded.
# We can remove this requirement once `starknet-rs` is using >=0.1.4
hashlink = "0.9.1"
starknet-types-core = "~0.1.4"
starknet_api = "0.11.0"
strum = "0.25"
strum_macros = "0.25"
tempfile = "3.9.0"
test-log = "0.2.11"
thiserror = "1.0.32"
tokio = { version = "1.39.2", features = [ "full" ] }
toml = "0.8"
tower = "0.4.13"
tower-http = "0.4.4"
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.16", features = [ "env-filter", "json" ] }
tracing-test = "0.1"
url = { version = "2.4.0", features = [ "serde" ] }

# server
hyper = "0.14.27"
warp = "0.3"

# gRPC
prost = "0.12"
tonic = { version = "0.11", features = [ "tls", "tls-roots" ] }
tonic-build = "0.11"
tonic-reflection = "0.11"
tonic-web = "0.11"

# WASM-compatible gRPC deps
tonic-web-wasm-client = "0.4.0"
wasm-prost = { version = "0.11.9", package = "prost" }
wasm-tonic = { version = "0.9.2", default-features = false, features = [ "codegen", "gzip", "prost" ], package = "tonic" }
wasm-tonic-build = { version = "0.9.2", default-features = false, features = [ "prost" ], package = "tonic-build" }

alloy-primitives = { version = "0.7.6", default-features = false }
alloy-sol-types = { version = "0.7.6", default-features = false }

criterion = "0.5.1"

# Controller integration
account_sdk = { git = "https://github.com/cartridge-gg/controller", rev = "512ff89" }
slot = { git = "https://github.com/cartridge-gg/slot", rev = "4c1165d" }

alloy-contract = { version = "0.2", default-features = false }
alloy-json-rpc = { version = "0.2", default-features = false }
alloy-network = { version = "0.2", default-features = false }
alloy-provider = { version = "0.2", default-features = false, features = [ "reqwest" ] }
alloy-rpc-types-eth = { version = "0.2", default-features = false }
alloy-signer = { version = "0.2", default-features = false }
alloy-transport = { version = "0.2", default-features = false }

[patch.crates-io]
# Remove this patch once the following PR is merged: <https://github.com/xJonathanLEI/starknet-rs/pull/615>
#
# To enable std feature on `starknet-types-core`.
# To re-export the entire `felt` module from `starknet-types-core`.
starknet-core = { git = "https://github.com/kariy/starknet-rs", branch = "dojo-patch" }
starknet-types-core = { git = "https://github.com/dojoengine/types-rs", rev = "289e2f0" }
