[workspace]
resolver = "2"

members = [
  "crates/dojo-lang",
  "crates/dojo-language-server",
  "crates/dojo-signers",
  "crates/dojo-test-utils",
  "crates/dojo-types",
  "crates/dojo-world",
  "crates/katana",
  "crates/katana/core",
  "crates/katana/rpc",
  "crates/sozo",
  "crates/torii/client",
  "crates/torii/server",
]

[workspace.package]
edition = "2021"
license = "Apache-2.0"
license-file = "LICENSE"
repository = "https://github.com/dojoengine/dojo/"
version = "0.3.13"

[profile.performance]
codegen-units = 1
incremental = false
inherits = "release"
lto = "fat"

[workspace.dependencies]
anyhow = "1.0.75"
assert_matches = "1.5.0"
async-trait = "0.1.68"
base64 = "0.21.2"
blockifier = { git = "https://github.com/starkware-libs/blockifier" }
cairo-lang-casm = "2.3.1"
cairo-lang-compiler = "2.3.1"
cairo-lang-debug = "2.3.1"
cairo-lang-defs = "2.3.1"
cairo-lang-diagnostics = "2.3.1"
cairo-lang-filesystem = "2.3.1"
cairo-lang-formatter = "2.3.1"
cairo-lang-language-server = "2.3.1"
cairo-lang-lowering = "2.3.1"
cairo-lang-parser = "2.3.1"
cairo-lang-plugins = "2.3.1"
cairo-lang-project = "2.3.1"
cairo-lang-semantic = { version = "2.3.1", features = [ "testing" ] }
cairo-lang-sierra = "2.3.1"
cairo-lang-sierra-generator = "2.3.1"
cairo-lang-sierra-to-casm = "2.3.1"
cairo-lang-starknet = "2.3.1"
cairo-lang-syntax = "2.3.1"
cairo-lang-test-plugin = "2.3.1"
cairo-lang-test-runner = "2.3.1"
cairo-lang-test-utils = "2.3.1"
cairo-lang-utils = "2.3.1"
cairo-vm = "0.8.2"
camino = { version = "1.1.2", features = [ "serde1" ] }
chrono = { version = "0.4.24", features = [ "serde" ] }
clap = { version = "4.2", features = [ "derive" ] }
clap_complete = "4.3"
colored = "2"
console = "0.15.7"
convert_case = "0.6.0"
env_logger = "0.10.0"
flate2 = "1.0.24"
futures = "0.3.28"
hex = "0.4.3"
indoc = "1.0.7"
itertools = "0.10.3"
lazy_static = "1.4.0"
num-bigint = "0.4"
once_cell = "1.0"
parking_lot = "0.12.1"
pretty_assertions = "1.2.1"
rayon = "1.8.0"
salsa = "0.16.1"
scarb = { git = "https://github.com/software-mansion/scarb", rev = "0c8def3" }
scarb-ui = { git = "https://github.com/software-mansion/scarb", rev = "0c8def3" }
semver = "1.0.5"
serde = { version = "1.0.156", features = [ "derive" ] }
serde_json = "1.0"
serde_with = "2.3.1"
smol_str = { version = "0.2.0", features = [ "serde" ] }
sqlx = { version = "0.6.2", features = [ "chrono", "macros", "offline", "runtime-actix-rustls", "sqlite", "uuid" ] }
starknet = "0.7.0"
starknet-crypto = "0.6.1"
starknet_api = { git = "https://github.com/starkware-libs/starknet-api", rev = "ecc9b6946ef13003da202838e4124a9ad2efabb0" }
strum = "0.25"
strum_macros = "0.25"
test-log = "0.2.11"
thiserror = "1.0.32"
tokio = { version = "1.32.0", features = [ "full" ] }
toml = "0.7.4"
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.16", features = [ "env-filter", "json" ] }
url = "2.4.0"

# server
hyper = "0.14.27"
warp = "0.3"

# gRPC
prost = "0.12"
tonic = "0.10"
tonic-build = "0.10.1"
tonic-reflection = "0.10.1"
tonic-web = "0.10.1"

# WASM-compatible gRPC deps
tonic-web-wasm-client = "0.4.0"
wasm-prost = { version = "0.11.9", package = "prost" }
wasm-tonic = { version = "0.9.2", default-features = false, features = [ "codegen", "gzip", "prost" ], package = "tonic" }
wasm-tonic-build = { version = "0.9.2", default-features = false, features = [ "prost" ], package = "tonic-build" }

[patch."https://github.com/starkware-libs/blockifier"]
blockifier = { git = "https://github.com/dojoengine/blockifier", rev = "3357e69" }

[patch.crates-io]
cairo-felt = { git = "https://github.com/dojoengine/cairo-rs.git", rev = "262b7eb4b11ab165a2a936a5f914e78aa732d4a2" }
cairo-vm = { git = "https://github.com/dojoengine/cairo-rs.git", rev = "262b7eb4b11ab165a2a936a5f914e78aa732d4a2" }
