[workspace]
resolver = "2"

members = [
  "bin/dojo-language-server",
  "bin/katana",
  "bin/sozo",
  "bin/torii",
  "crates/benches",
  "crates/dojo-bindgen",
  "crates/dojo-core",
  "crates/dojo-lang",
  "crates/dojo-test-utils",
  "crates/dojo-types",
  "crates/dojo-world",
  "crates/dojo-world/abigen",
  "crates/katana/core",
  "crates/katana/executor",
  "crates/katana/primitives",
  "crates/katana/rpc/rpc",
  "crates/katana/rpc/rpc-api",
  "crates/katana/rpc/rpc-types",
  "crates/katana/rpc/rpc-types-builder",
  "crates/katana/runner",
  "crates/katana/storage/codecs",
  "crates/katana/storage/codecs/derive",
  "crates/katana/storage/db",
  "crates/katana/storage/provider",
  "crates/metrics",
  "crates/sozo/signers",
  "crates/torii/client",
  "crates/torii/server",
  "crates/torii/types-test",
  "examples/spawn-and-move",
]

[workspace.package]
edition = "2021"
license = "Apache-2.0"
license-file = "LICENSE"
repository = "https://github.com/dojoengine/dojo/"
version = "0.5.1-alpha.0"

[profile.performance]
codegen-units = 1
incremental = false
inherits = "release"
lto = "fat"

[workspace.dependencies]
# metrics
metrics = { path = "crates/metrics" }

# dojo-lang
dojo-bindgen = { path = "crates/dojo-bindgen" }
dojo-core = { path = "crates/dojo-core" }
dojo-lang = { path = "crates/dojo-lang" }
dojo-test-utils = { path = "crates/dojo-test-utils" }
dojo-types = { path = "crates/dojo-types" }
dojo-world = { path = "crates/dojo-world" }

# katana
katana-codecs = { path = "crates/katana/storage/codecs" }
katana-codecs-derive = { path = "crates/katana/storage/codecs/derive" }
katana-core = { path = "crates/katana/core" }
katana-db = { path = "crates/katana/storage/db" }
katana-executor = { path = "crates/katana/executor" }
katana-primitives = { path = "crates/katana/primitives" }
katana-provider = { path = "crates/katana/storage/provider" }
katana-rpc = { path = "crates/katana/rpc/rpc" }
katana-rpc-api = { path = "crates/katana/rpc/rpc-api" }
katana-rpc-types = { path = "crates/katana/rpc/rpc-types" }
katana-rpc-types-builder = { path = "crates/katana/rpc/rpc-types-builder" }
katana-runner = { path = "crates/katana/runner" }

# torii
torii-client = { path = "crates/torii/client" }
torii-core = { path = "crates/torii/core" }
torii-graphql = { path = "crates/torii/graphql" }
torii-grpc = { path = "crates/torii/grpc" }
torii-server = { path = "crates/torii/server" }

# sozo
sozo-signers = { path = "crates/sozo/signers" }

anyhow = "1.0.75"
assert_matches = "1.5.0"
async-trait = "0.1.68"
base64 = "0.21.2"
blockifier = { git = "https://github.com/starkware-libs/blockifier", tag = "v0.4.0-rc9.2" }
cairo-lang-casm = "2.4.0"
cairo-lang-compiler = "2.4.0"
cairo-lang-debug = "2.4.0"
cairo-lang-defs = "2.4.0"
cairo-lang-diagnostics = "2.4.0"
cairo-lang-filesystem = "2.4.0"
cairo-lang-formatter = "2.4.0"
cairo-lang-language-server = "2.4.0"
cairo-lang-lowering = "2.4.0"
cairo-lang-parser = "2.4.0"
cairo-lang-plugins = { version = "2.4.0", features = [ "testing" ] }
cairo-lang-project = "2.4.0"
cairo-lang-semantic = { version = "2.4.0", features = [ "testing" ] }
cairo-lang-sierra = "2.4.0"
cairo-lang-sierra-generator = "2.4.0"
cairo-lang-sierra-to-casm = "2.4.0"
cairo-lang-starknet = "2.4.0"
cairo-lang-syntax = "2.4.0"
cairo-lang-test-plugin = "2.4.0"
cairo-lang-test-runner = "2.4.0"
cairo-lang-test-utils = "2.4.0"
cairo-lang-utils = "2.4.0"
cairo-vm = "0.8.2"
camino = { version = "1.1.2", features = [ "serde1" ] }
chrono = { version = "0.4.24", features = [ "serde" ] }
clap = { version = "4.2", features = [ "derive" ] }
clap_complete = "4.3"
colored = "2"
console = "0.15.7"
convert_case = "0.6.0"
crypto-bigint = { version = "0.5.3", features = [ "serde" ] }
derive_more = "0.99.17"
env_logger = "0.10.0"
flate2 = "1.0.24"
futures = "0.3.28"
hex = "0.4.3"
indoc = "1.0.7"
itertools = "0.10.3"
jsonrpsee = { version = "0.16.2", default-features = false }
lazy_static = "1.4.0"
metrics-process = "1.0.9"
num-bigint = "0.4"
once_cell = "1.0"
parking_lot = "0.12.1"
pretty_assertions = "1.2.1"
rayon = "1.8.0"
salsa = "0.16.1"
scarb = { git = "https://github.com/software-mansion/scarb", tag = "v2.4.0" }
scarb-ui = { git = "https://github.com/software-mansion/scarb", tag = "v2.4.0" }
semver = "1.0.5"
serde = { version = "1.0.192", features = [ "derive" ] }
serde_json = { version = "1.0", features = [ "arbitrary_precision" ] }
serde_with = "2.3.1"
smol_str = { version = "0.2.0", features = [ "serde" ] }
sqlx = { version = "0.7.2", features = [ "chrono", "macros", "regexp", "runtime-async-std", "runtime-tokio", "sqlite", "uuid" ] }
starknet = "0.8.0"
starknet-crypto = "0.6.1"
starknet_api = "0.6.0-rc3"
strum = "0.25"
strum_macros = "0.25"
test-log = "0.2.11"
thiserror = "1.0.32"
tokio = { version = "1.32.0", features = [ "full" ] }
toml = "0.7.4"
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.16", features = [ "env-filter", "json" ] }
url = "2.4.0"

# server
hyper = "0.14.27"
warp = "0.3"

# gRPC
prost = "0.12"
tonic = "0.10"
tonic-build = "0.10.1"
tonic-reflection = "0.10.1"
tonic-web = "0.10.1"

# WASM-compatible gRPC deps
tonic-web-wasm-client = "0.4.0"
wasm-prost = { version = "0.11.9", package = "prost" }
wasm-tonic = { version = "0.9.2", default-features = false, features = [ "codegen", "gzip", "prost" ], package = "tonic" }
wasm-tonic-build = { version = "0.9.2", default-features = false, features = [ "prost" ], package = "tonic-build" }

[patch."https://github.com/starkware-libs/blockifier"]
blockifier = { git = "https://github.com/dojoengine/blockifier", rev = "e6e9c90" }

[patch.crates-io]
cairo-felt = { git = "https://github.com/dojoengine/cairo-rs.git", rev = "262b7eb4b11ab165a2a936a5f914e78aa732d4a2" }
cairo-vm = { git = "https://github.com/dojoengine/cairo-rs.git", rev = "262b7eb4b11ab165a2a936a5f914e78aa732d4a2" }
