[workspace]

resolver = "2"

members = [
    "crates/dojo-lang",
    "crates/dojo-cli",
    "crates/dojo-indexer",
    "crates/dojo-language-server",
    "crates/dojo-test-runner",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
repository = "https://github.com/dojoengine/dojo/"
license = "Apache-2.0"
license-file = "LICENSE"

[workspace.dependencies]
anyhow = "1.0.66"
cairo-felt = "0.1.1"
cairo-vm = "0.1.2"
clap = { version = "4.0", features = ["derive"] }
colored = "2"
env_logger = "0.9.3"
indoc = "1.0.7"
itertools = "0.10.3"
num-bigint = "0.4"
rayon = "0.9.0"
salsa = "0.16.1"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0"
smol_str = "0.1.23"
starknet = { git = "https://github.com/xJonathanLEI/starknet-rs", rev = "447182a90839a3e4f096a01afe75ef474186d911" }
thiserror = "1.0.32"
toml = "0.4.2"
test-log = "0.2.11"
