[package]
description = "Katana core implementation."
edition.workspace = true
license-file.workspace = true
name = "katana-core"
repository.workspace = true
version.workspace = true

[dependencies]
katana-db.workspace = true
katana-executor.workspace = true
katana-primitives.workspace = true
katana-provider.workspace = true
katana-tasks.workspace = true

anyhow.workspace = true
async-trait.workspace = true
cairo-lang-casm = "=2.6.3"
cairo-lang-starknet = "=2.6.3"
cairo-vm.workspace = true
convert_case.workspace = true
derive_more.workspace = true
dojo-metrics.workspace = true
flate2.workspace = true
futures.workspace = true
k256 = { version = "0.13", default-features = false, features = [ "ecdsa", "std" ] }
lazy_static.workspace = true
metrics.workspace = true
parking_lot.workspace = true
rand = { workspace = true, features = [ "small_rng" ] }
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
starknet.workspace = true
starknet_api.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
url.workspace = true

alloy-primitives = { workspace = true, features = [ "serde" ] }
alloy-sol-types = { workspace = true, default-features = false, features = [ "json" ], optional = true }

alloy-contract = { version = "0.1.0", default-features = false, optional = true }
alloy-network = { version = "0.1.0", default-features = false, optional = true }
alloy-provider = { version = "0.1.0", default-features = false, optional = true, features = [ "reqwest" ] }
alloy-rpc-types = { version = "0.1.0", default-features = false, optional = true }
alloy-signer = { version = "0.1.0", default-features = false, optional = true }
alloy-transport = { version = "0.1.0", default-features = false, optional = true }

[dev-dependencies]
assert_matches.workspace = true
hex.workspace = true
tempfile.workspace = true

[features]
messaging = [
    "alloy-contract",
    "alloy-network",
    "alloy-provider",
    "alloy-rpc-types",
    "alloy-signer",
    "alloy-sol-types",
    "alloy-transport",
]
starknet-messaging = [  ]
