[package]
description = "Katana core implementation."
edition.workspace = true
license-file.workspace = true
name = "katana-core"
repository.workspace = true
version.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
auto_impl = "1.1.0"
blockifier.workspace = true
cairo-lang-casm = "2.1.1"
cairo-lang-starknet = "2.1.1"
cairo-vm.workspace = true
convert_case.workspace = true
flate2.workspace = true
futures = "0.3"
lazy_static = "1.4.0"
parking_lot = "0.12.1"
rand = { version = "0.8.5", features = [ "small_rng" ] }
serde.workspace = true
serde_json = "1.0.70"
serde_with.workspace = true
starknet.workspace = true
starknet_api.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing = "0.1.34"

[dev-dependencies]
assert_matches = "1.5.0"
