[package]
description = "Katana core implementation."
edition.workspace = true
license-file.workspace = true
name = "katana-core"
repository.workspace = true
version.workspace = true

[dependencies]
katana-db = { path = "../storage/db" }
katana-executor = { path = "../executor" }
katana-primitives = { path = "../primitives" }
katana-provider = { path = "../storage/provider" }

anyhow.workspace = true
async-trait.workspace = true
blockifier.workspace = true
cairo-lang-casm = "2.3.1"
cairo-lang-starknet = "2.3.1"
cairo-vm.workspace = true
convert_case.workspace = true
ethers = { version = "2.0.11", optional = true }
flate2.workspace = true
futures.workspace = true
lazy_static = "1.4.0"
parking_lot.workspace = true
rand = { version = "0.8.5", features = [ "small_rng" ] }
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
starknet.workspace = true
starknet_api.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
url.workspace = true

[dev-dependencies]
assert_matches.workspace = true
hex = "0.4.3"
tempfile = "3.8.1"

[features]
messaging = [ "ethers" ]
starknet-messaging = [  ]
