[package]
description = "Katana core implementation."
edition.workspace = true
license-file.workspace = true
name = "katana-core"
repository.workspace = true
version.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
auto_impl = "1.1.0"
blockifier.workspace = true
cairo-lang-casm.workspace = true
cairo-lang-starknet.workspace = true
cairo-vm = "0.6"
flate2 = "1.0.26"
futures = "0.3"
lazy_static = "1.4.0"
rand = { version = "0.8.5", features = ["small_rng"] }
serde.workspace = true
serde_json = "1.0.70"
starknet.workspace = true
starknet_api.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing = "0.1.34"
