[package]
cairo-version = "=2.6.4"
name = "dojo_examples"
version = "0.7.3"
# Use the prelude with the less imports as possible
# from corelib.
edition = "2023_10"

[cairo]
sierra-replace-ids = true

[dependencies]
dojo = { path = "../../crates/dojo-core" }
armory = { path = "../game-lib/armory" }
bestiary = { path = "../game-lib/bestiary" }

[[target.dojo]]
build-external-contracts = [
    "armory::Flatbow",
    "bestiary::RiverSkale",
]

[features]
default = ["dungeon"]
dungeon = []

# `dev` profile

[tool.dojo.world]
description = "example world"
name = "example"
seed = "dojo_examples"
namespace = "dojo_examples"

[tool.dojo.env]
rpc_url = "http://localhost:5050/"

# Default account for katana with seed = 0
account_address = "0x6162896d1d7ab204c7ccac6dd5f8e9e7c25ecd5ae4fcb4ad32e57786bb46e03"
private_key = "0x1800000000300000180000000000030000000000003006001800006600"
world_address = "0x504b804eeac62e68d12dc030e56b8f62cb047950c346e60a974da02795f6aba"

[profile.release.tool.dojo]
# for more info on how `merge-strategy` works see:
# https://docs.swmansion.com/scarb/docs/reference/profiles.html#overriding-tool-metadata
merge-strategy = "merge"
skip_migration = [
    "dojo_examples::mock_token::mock_token",
    "dojo_examples::models::mock_token",
]
