[package]
cairo-version = "=2.10.1"
name = "dojo_examples"
version = "1.6.2"
# Use the prelude with the less imports as possible
# from corelib.
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[[target.starknet-contract]]
build-external-contracts = [ "dojo::world::world_contract::world", "armory::m_Flatbow", "bestiary::m_RiverSkale" ]
allowed-libfuncs-list.name = "experimental"

[dependencies]
openzeppelin = "0.20.0"
armory = { path = "../game-lib/armory" }
bestiary = { path = "../game-lib/bestiary" }
dojo = { path = "../../crates/dojo/core" }
starknet = "2.10.1"

[dev-dependencies]
cairo_test = "2.10.1"
dojo_cairo_test = { path = "../../crates/dojo/core-cairo-test" }

[features]
default = [ "dungeon" ]
dungeon = [  ]

[profile.saya]
