[package]
cairo-version = "=2.7.0-rc.3"
name = "dojo_examples"
version = "0.7.3"
# Use the prelude with the less imports as possible
# from corelib.
edition = "2023_11"

[cairo]
sierra-replace-ids = true

[dependencies]
armory = { path = "../game-lib/armory" }
bestiary = { path = "../game-lib/bestiary" }
dojo = { path = "../../crates/dojo-core" }

[[target.dojo]]
build-external-contracts = [ "armory::Flatbow", "bestiary::RiverSkale" ]

[features]
default = [ "dungeon" ]
dungeon = [  ]

# `dev` profile

[tool.dojo.world]
description = "example world"
name = "example"
seed = "dojo_examples"

[tool.dojo.world.namespace]
default = "dojo_examples"
# remapping can be done at tag level, or for the whole namespace.
# In this example, `armory-Flatbow` model will be belong to `dojo_examples_weapons` namespace, and all `bestiary` models will belong to the `dojo_examples_foes` namespace when compiled into `spawn-and-move`.
mappings = { "armory-Flatbow" = "dojo_examples_weapons", "bestiary" = "dojo_examples_foes" }

[tool.dojo.env]
rpc_url = "http://localhost:5050/"

# Default account for katana with seed = 0
account_address = "0x6162896d1d7ab204c7ccac6dd5f8e9e7c25ecd5ae4fcb4ad32e57786bb46e03"
private_key = "0x1800000000300000180000000000030000000000003006001800006600"
# world_address = "0x5ffa124a5076e590a23e9d393ebe4fc7c66989c2cd228a46f38a9e2d48305a7"

[profile.release.tool.dojo]
# for more info on how `merge-strategy` works see:
# https://docs.swmansion.com/scarb/docs/reference/profiles.html#overriding-tool-metadata
merge-strategy = "merge"
skip_migration = [
    "dojo_examples::mock_token::mock_token",
    "dojo_examples::models::mock_token",
]
