[package]
edition.workspace = true
name = "torii"
version.workspace = true

[dependencies]
torii-cli.workspace = true
torii-runner.workspace = true
tokio.workspace = true
anyhow.workspace = true
clap.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
