[package]
description = "Katana storage provider"
edition.workspace = true
name = "katana-provider"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
katana-chain-spec = { workspace = true, optional = true }
katana-db = { workspace = true, features = [ "test-utils" ] }
katana-primitives.workspace = true

katana-trie.workspace = true

anyhow.workspace = true
auto_impl.workspace = true
parking_lot.workspace = true
thiserror.workspace = true
tracing.workspace = true

bitvec.workspace = true
starknet-types-core.workspace = true

# fork provider deps
futures = { workspace = true, optional = true }
starknet = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }

alloy-primitives = { workspace = true, optional = true }
serde_json.workspace = true

[features]
default = [ "fork", "in-memory" ]
fork = [ "dep:futures", "dep:starknet", "dep:tokio", "in-memory" ]
in-memory = [  ]
test-utils = [ "dep:alloy-primitives", "dep:katana-chain-spec" ]

[dev-dependencies]
alloy-primitives.workspace = true
katana-chain-spec.workspace = true
katana-runner.workspace = true
lazy_static.workspace = true
rand.workspace = true
rstest.workspace = true
rstest_reuse.workspace = true
serde_json.workspace = true
starknet.workspace = true
tempfile.workspace = true
url.workspace = true
