[package]
name = "torii"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
camino.workspace = true
dojo-types = { path = "../dojo-types" }
dojo-world = { path = "../dojo-world" }
async-trait.workspace = true
anyhow.workspace = true
clap.workspace = true
ctrlc = "3.2.5"
log = "0.4.17"
serde.workspace = true
serde_json.workspace = true
sqlx = { version = "0.6.2", features = [
  "chrono",
  "macros",
  "offline",
  "runtime-actix-rustls",
  "uuid",
] }
starknet.workspace = true
starknet-crypto.workspace = true
tokio = { version = "1.20.1", features = ["full"] }
tokio-stream = "0.1.11"
tokio-util = "0.7.7"
tracing.workspace = true
tracing-subscriber.workspace = true
url = "2.2.2"
chrono.workspace = true
async-graphql = { version = "5.0.8", features = ["chrono", "dynamic-schema"] }
async-graphql-poem = "5.0.8"
poem = "1.3.48"
indexmap = "1.9.3"

[dev-dependencies]
camino.workspace = true

[features]
default = ["sqlite"]
sqlite = ["sqlx/sqlite"]

[[bin]]
name = "torii"
path = "src/cli.rs"
