[package]
edition.workspace = true
name = "sozo"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
slot = { workspace = true, optional = true }

anyhow.workspace = true
async-trait.workspace = true
bigdecimal.workspace = true
cairo-lang-compiler.workspace = true
cairo-lang-defs.workspace = true
cairo-lang-filesystem.workspace = true
cairo-lang-plugins.workspace = true
cairo-lang-project.workspace = true
cairo-lang-sierra.workspace = true
cairo-lang-sierra-to-casm.workspace = true
cairo-lang-starknet.workspace = true
cairo-lang-test-plugin.workspace = true
cairo-lang-test-runner.workspace = true
cairo-lang-utils.workspace = true
camino.workspace = true
clap.workspace = true
clap-verbosity-flag.workspace = true
clap_complete.workspace = true
colored.workspace = true
console.workspace = true
derive_more.workspace = true
dojo-bindgen.workspace = true
dojo-lang.workspace = true
dojo-types.workspace = true
dojo-utils.workspace = true
dojo-world = { workspace = true, features = [ "contracts", "metadata", "migration" ] }
futures.workspace = true
hex = "0.4.3"
hex-literal = "0.4.1"
itertools.workspace = true
katana-rpc-api.workspace = true
notify = "6.0.1"
num-bigint = "0.4.3"
num-integer = "0.1.45"
prettytable-rs = "0.10.0"
tabled = { version = "0.16.0", features = [ "ansi" ] }
regex.workspace = true
rpassword.workspace = true
scarb.workspace = true
scarb-ui.workspace = true
semver.workspace = true
serde.workspace = true
serde_json.workspace = true
smol_str.workspace = true
sozo-ops.workspace = true
sozo-walnut = { workspace = true, optional = true }
spinoff.workspace = true
starknet.workspace = true
starknet-crypto.workspace = true
thiserror.workspace = true
toml.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-log.workspace = true
tracing-subscriber.workspace = true
url.workspace = true

cainome.workspace = true
reqwest = { workspace = true, features = [ "json" ], optional = true }

[dev-dependencies]
assert_fs.workspace = true
dojo-test-utils = { workspace = true, features = [ "build-examples" ] }
katana-runner.workspace = true
snapbox = "0.4.6"

[features]
default = [ "controller", "walnut" ]

controller = [ "dep:reqwest", "dep:slot" ]
walnut = [ "dep:sozo-walnut", "sozo-ops/walnut" ]

[[bench]]
harness = false
name = "spawn-and-move-build"
