[package]
name = "dojo-lang"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Dojo capabilities and utilities on top of Starknet."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
cairo-lang-compiler.workspace = true
cairo-lang-defs.workspace = true
cairo-lang-diagnostics.workspace = true
cairo-lang-lowering.workspace = true
cairo-lang-filesystem.workspace = true
cairo-lang-parser.workspace = true
cairo-lang-plugins.workspace = true
cairo-lang-project.workspace = true
cairo-lang-semantic = { git = "https://github.com/starkware-libs/cairo.git", rev = "57782f2532ee6d589432ebc3d39cf3daae863e7f" }
cairo-lang-sierra-generator.workspace = true
cairo-lang-syntax.workspace = true
cairo-lang-starknet.workspace = true
cairo-lang-utils.workspace = true
dojo-project = { path = "../dojo-project" }
starknet.workspace = true
indoc.workspace = true
itertools.workspace = true
scarb.workspace = true
serde.workspace = true
serde_json.workspace = true
smol_str.workspace = true
tracing = "0.1.37"

[dev-dependencies]
env_logger.workspace = true
cairo-lang-formatter = { git = "https://github.com/starkware-libs/cairo.git", rev = "57782f2532ee6d589432ebc3d39cf3daae863e7f" }
cairo-lang-semantic = { git = "https://github.com/starkware-libs/cairo.git", rev = "57782f2532ee6d589432ebc3d39cf3daae863e7f", features = [
    "testing",
] }
cairo-lang-test-utils = { git = "https://github.com/starkware-libs/cairo.git", rev = "57782f2532ee6d589432ebc3d39cf3daae863e7f" }
pretty_assertions.workspace = true
test-case = "2.2.2"
test-case-macros = "2.2.2"
test-log.workspace = true
