[package]
description = "Torii graphql implementation."
edition.workspace = true
license-file.workspace = true
name = "torii-graphql"
repository.workspace = true
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
async-graphql = { version = "7.0.11", features = [ "chrono", "dynamic-schema" ] }
async-graphql-warp = "7.0.11"
async-recursion = "1.0.5"
base64.workspace = true
chrono.workspace = true
convert_case = "0.6.0"
dojo-types.workspace = true
lazy_static.workspace = true
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
sqlx.workspace = true
starknet-crypto.workspace = true
strum.workspace = true
strum_macros.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-stream = "0.1.11"
torii-sqlite.workspace = true
torii-indexer.workspace = true
tracing.workspace = true
url.workspace = true
warp.workspace = true

[dev-dependencies]
camino.workspace = true
dojo-test-utils = { workspace = true, features = [ "build-examples" ] }
dojo-utils.workspace = true
dojo-world = { workspace = true, features = [ "ipfs" ] }
katana-runner = { git = "https://github.com/dojoengine/katana", rev = "5cb249c0fa59fa6b7c88b32557e7baf8944cdb3d" }
scarb.workspace = true
serial_test = "2.0.0"
starknet.workspace = true
starknet-crypto.workspace = true
tempfile.workspace = true
toml.workspace = true
sozo-scarbext.workspace = true
