[package]
description = "Katana execution engine. This crate provides abstractions and implementations for transaction execution."
edition.workspace = true
name = "katana-executor"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
katana-primitives.workspace = true
katana-provider.workspace = true

convert_case.workspace = true
parking_lot.workspace = true
serde_json.workspace = true
starknet_api.workspace = true
thiserror.workspace = true
tracing.workspace = true

# blockifier deps
blockifier = { workspace = true, optional = true }

[dev-dependencies]
cairo-vm.workspace = true
katana-provider.workspace = true
rstest.workspace = true
serde_json.workspace = true
similar-asserts.workspace = true
starknet.workspace = true

[features]
default = [ "blockifier" ]

blockifier = [ "dep:blockifier", "katana-primitives/blockifier" ]
