[package]
description = "Katana execution engine. This crate provides abstractions and implementations for transaction execution."
edition.workspace = true
name = "katana-executor"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
katana-cairo = { workspace = true, optional = true }
katana-primitives.workspace = true
katana-provider.workspace = true
katana-trie.workspace = true

thiserror.workspace = true
tracing.workspace = true

blockifier = { git = "https://github.com/dojoengine/sequencer", rev = "92da150d", features = [ "testing" ], optional = true }
parking_lot = { workspace = true, optional = true }
starknet = { workspace = true, optional = true }

[dev-dependencies]
alloy-primitives.workspace = true
anyhow.workspace = true
katana-cairo.workspace = true
katana-provider = { workspace = true, features = [ "test-utils" ] }
katana-rpc-types.workspace = true
num-traits.workspace = true
rstest.workspace = true
rstest_reuse.workspace = true
serde_json.workspace = true
similar-asserts.workspace = true
tokio.workspace = true

criterion.workspace = true
oneshot = { version = "0.1.8", default-features = false, features = [ "std" ] }
pprof = { version = "0.13.0", features = [ "criterion", "flamegraph" ] }
rayon.workspace = true

[features]
blockifier = [
	"dep:blockifier",
	"dep:katana-cairo",
	"dep:parking_lot",
	"dep:starknet",
]
default = [ "blockifier" ]

[[bench]]
harness = false
name = "execution"
required-features = [ "blockifier" ]

[[bench]]
harness = false
name = "concurrent"
required-features = [ "blockifier" ]
