[package]
edition.workspace = true
license.workspace = true
name = "katana-pipeline"
repository.workspace = true
version.workspace = true

[dependencies]
katana-core.workspace = true
katana-executor.workspace = true
katana-pool.workspace = true
katana-primitives.workspace = true
katana-provider = { workspace = true, features = [ "test-utils" ] }
katana-tasks.workspace = true

anyhow.workspace = true
async-trait.workspace = true
futures.workspace = true
starknet.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
serde_json = "1.0.133"
