[package]
cairo-version = "2.7.0-rc.3"
edition = "2024_07"
description = "The Dojo Core library for autonomous worlds."
name = "dojo"
version = "0.7.3"

[dependencies]
# Rev points to support for Cairo 2.7.0-rc.3 without any tag yet. Should be
# updated once a release is cut with `2.7.0-rc.3` support in it.
dojo_plugin = { git = "https://github.com/dojoengine/dojo", rev = "d90b52b" }
starknet = "=2.7.0-rc.3"

[lib]

# Dojo core is tested with sozo, hence we need a namespace for the test
# command to work.
[tool.dojo.world]
namespace = { default = "dojo" }
