[package]
name = "dojo"
version = "0.1.0"
cairo-version = "2.1.0-rc1"
description = "The Dojo Core library for autonomous worlds."

[dependencies]
dojo_plugin = { git = "https://github.com/dojoengine/dojo" }
starknet = "2.1.0-rc1"
