[package]
cairo-version = "=2.6.3"
description = "The Dojo Core library for autonomous worlds."
name = "dojo"
version = "0.7.2"

[dependencies]
dojo_plugin = { git = "https://github.com/dojoengine/dojo", tag = "v0.7.2" }
starknet = "=2.6.3"
