[package]
cairo-version = "2.1.1"
description = "The Dojo Core library for autonomous worlds."
name = "dojo"
version = "0.1.0"

[dependencies]
dojo_plugin = { git = "https://github.com/dojoengine/dojo" }
starknet = "2.1.1"
