[package]
edition.workspace = true
license.workspace = true
name = "katana-cli"
repository.workspace = true
version.workspace = true

[dependencies]
dojo-utils.workspace = true
katana-core.workspace = true
katana-node.workspace = true
katana-primitives.workspace = true
katana-rpc.workspace = true
katana-slot-controller = { workspace = true, optional = true }

alloy-primitives.workspace = true
anyhow.workspace = true
cainome-cairo-serde.workspace = true
clap.workspace = true
console.workspace = true
serde.workspace = true
serde_json = "1.0.132"
shellexpand = "3.1.0"
tokio.workspace = true
toml.workspace = true
tracing.workspace = true
tracing-log.workspace = true
tracing-subscriber.workspace = true
url.workspace = true

[dev-dependencies]
assert_matches.workspace = true
starknet.workspace = true

[features]
default = [ "server", "slot" ]
server = [  ]
slot = [ "dep:katana-slot-controller", "katana-primitives/slot" ]
starknet-messaging = [ "katana-node/starknet-messaging" ]
