
[package]
description = "A fast and lightweight local Starknet development sequencer."
edition.workspace = true
license-file.workspace = true
name = "katana"
repository.workspace = true
version.workspace = true

[dependencies]
katana-chain-spec.workspace = true
katana-cli.workspace = true
katana-db.workspace = true
katana-node.workspace = true
katana-primitives.workspace = true
katana-rpc-types.workspace = true

anyhow.workspace = true
async-trait.workspace = true
byte-unit = "5.1.4"
cainome.workspace = true
clap.workspace = true
clap_complete.workspace = true
comfy-table = "7.1.1"
dojo-utils.workspace = true
inquire = "0.7.5"
# This revision is not published for Scarb issue only, it's just a binding change...
piltover = { git = "https://github.com/keep-starknet-strange/piltover.git", rev = "45263e8" }
rand.workspace = true
shellexpand = "3.1.0"
spinoff.workspace = true
starknet.workspace = true
strum_macros.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
url.workspace = true

[dev-dependencies]
assert_matches.workspace = true
rstest.workspace = true
starknet.workspace = true

[features]
default = [ "init-slot", "jemalloc", "katana-cli/slot" ]

init-custom-settlement-chain = [  ]
init-slot = [  ]
jemalloc = [  ]
