[package]
description = "A fast and lightweight local Starknet development sequencer."
edition.workspace = true
license-file.workspace = true
name = "katana"
repository.workspace = true
version.workspace = true

[dependencies]
katana-cairo.workspace = true
katana-cli.workspace = true
katana-db.workspace = true
katana-node.workspace = true
katana-primitives.workspace = true

anyhow.workspace = true
byte-unit = "5.1.4"
clap.workspace = true
clap_complete.workspace = true
comfy-table = "7.1.1"
dojo-utils.workspace = true
serde_json.workspace = true
shellexpand = "3.1.0"
starknet.workspace = true

[dev-dependencies]
assert_matches.workspace = true
starknet.workspace = true

[features]
default = [ "jemalloc", "katana-cli/slot" ]

jemalloc = [  ]
starknet-messaging = [ "katana-cli/starknet-messaging" ]
