[package]
description = "Katana RPC Implementation."
edition.workspace = true
license-file.workspace = true
name = "katana-rpc"
repository.workspace = true
version.workspace = true

[dependencies]
katana-core = { path = "../../core" }
katana-executor = { path = "../../executor" }
katana-primitives = { path = "../../primitives" }
katana-provider = { path = "../../storage/provider" }
katana-rpc-api = { path = "../rpc-api" }
katana-rpc-types = { path = "../rpc-types" }
katana-rpc-types-builder = { path = "../rpc-types-builder" }
katana-tasks = { path = "../../tasks" }

anyhow.workspace = true
cairo-lang-starknet = "2.3.1"
flate2.workspace = true
futures.workspace = true
hex = { version = "0.4.3", default-features = false }
hyper = "0.14.20"
jsonrpsee = { version = "0.16.2", features = [ "macros", "server" ] }
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
starknet.workspace = true
starknet_api.workspace = true
thiserror.workspace = true
tokio.workspace = true
tower = { version = "0.4.13", features = [ "full" ] }
tower-http = { version = "0.4.1", features = [ "full" ] }
tracing.workspace = true

[dev-dependencies]
assert_matches = "1.5.0"
dojo-test-utils = { path = "../../../dojo-test-utils" }
url.workspace = true
