[package]
description = "Katana RPC Implementation."
edition.workspace = true
license-file.workspace = true
name = "katana-rpc"
repository.workspace = true
version.workspace = true

[dependencies]
dojo-world = { workspace = true }
dojo-metrics.workspace = true
katana-core.workspace = true
katana-executor.workspace = true
katana-primitives.workspace = true
katana-provider.workspace = true
katana-rpc-api.workspace = true
katana-rpc-types-builder.workspace = true
katana-rpc-types.workspace = true
katana-tasks.workspace = true
tempfile = "3.8.1"
anyhow.workspace = true
flate2.workspace = true
futures.workspace = true
hex = { workspace = true }
hyper.workspace = true
jsonrpsee = { workspace = true, features = [ "server" ] }
metrics.workspace = true
rand.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
starknet.workspace = true
starknet_api.workspace = true
thiserror.workspace = true
tokio.workspace = true
tower = { workspace = true, features = [ "full" ] }
tower-http = { workspace = true, features = [ "full" ] }
tracing.workspace = true
cainome.workspace = true

[dev-dependencies]
assert_matches.workspace = true
cairo-lang-starknet-classes.workspace = true
cairo-lang-starknet.workspace = true
dojo-test-utils.workspace = true
dojo-world.workspace = true
jsonrpsee = { workspace = true, features = [ "client" ] }
katana-rpc-api = { workspace = true, features = [ "client" ] }
katana-runner.workspace = true
url.workspace = true
alloy = { git = "https://github.com/alloy-rs/alloy", features = [
    "contract",
    "network",
    "providers",
    "signer-local",
    "provider-http",
    "node-bindings"
] }
