[package]
cairo-version = "=2.8.4"
name = "dojo_simple"
version = "0.1.0"
edition = "2024_07"

[[target.starknet-contract]]
sierra = true
# casm = true
build-external-contracts = ["dojo::world::world_contract::world"]

[dependencies]
dojo = { path = "../../crates/dojo/core" }
starknet = "2.8.4"

[dev-dependencies]
dojo_cairo_test = { path = "../../crates/dojo/core-cairo-test" }

[features]
default = []

[profile.sepolia]
