[package]
edition.workspace = true
name = "sozo-ops"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
cainome.workspace = true
colored.workspace = true
colored_json.workspace = true
dojo-utils.workspace = true
dojo-types.workspace = true
dojo-world.workspace = true
futures.workspace = true
num-traits.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
sozo-walnut = { workspace = true, optional = true }
spinoff.workspace = true
starknet.workspace = true
starknet-crypto.workspace = true
thiserror.workspace = true
toml.workspace = true
tracing.workspace = true

dojo-test-utils = { workspace = true, features = [ "build-examples" ], optional = true }
katana-runner = { workspace = true, optional = true }

[dev-dependencies]
assert_fs.workspace = true
dojo-test-utils = { workspace = true, features = [ "build-examples" ] }
ipfs-api-backend-hyper = { git = "https://github.com/ferristseng/rust-ipfs-api", rev = "af2c17f7b19ef5b9898f458d97a90055c3605633", features = [ "with-hyper-rustls" ] }
katana-runner.workspace = true
tokio.workspace = true
scarb.workspace = true
sozo-scarbext.workspace = true

[features]
test-utils = [ "dep:dojo-test-utils", "dep:katana-runner" ]
walnut = [ "dep:sozo-walnut" ]
