[package]
edition.workspace = true
name = "sozo-ops"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
cainome.workspace = true
colored.workspace = true
colored_json.workspace = true
dojo-types.workspace = true
dojo-utils.workspace = true
dojo-world = { workspace = true, features = [ "ipfs" ] }
futures.workspace = true
num-traits.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
sozo-walnut = { workspace = true, optional = true }
spinoff.workspace = true
starknet-crypto.workspace = true
starknet.workspace = true
thiserror.workspace = true
toml.workspace = true
tracing.workspace = true
scarb-interop.workspace = true

dojo-test-utils = { workspace = true, features = [ "build-examples" ], optional = true }

[dev-dependencies]
assert_fs.workspace = true
dojo-test-utils = { workspace = true, features = [ "build-examples" ] }
katana-runner = { git = "https://github.com/dojoengine/katana", rev = "5cb249c0fa59fa6b7c88b32557e7baf8944cdb3d" }
tokio.workspace = true

[features]
test-utils = [ "dep:dojo-test-utils" ]
walnut = [ "dep:sozo-walnut" ]
