[package]
description = "Saya core implementation."
edition.workspace = true
license-file.workspace = true
name = "saya-core"
repository.workspace = true
version.workspace = true

[dependencies]
katana-db.workspace = true
katana-executor.workspace = true
katana-primitives.workspace = true
katana-provider.workspace = true

anyhow.workspace = true
async-trait.workspace = true
convert_case.workspace = true
ethers = "2.0.11"
flate2.workspace = true
futures.workspace = true
lazy_static = "1.4.0"
parking_lot.workspace = true
rand = { version = "0.8.5", features = [ "small_rng" ] }
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
starknet.workspace = true
starknet_api.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
url.workspace = true

# TODO: use features for each possible DA.
celestia-rpc = "0.1.1"
celestia-types = "0.1.1"
