# Dojoup post-install validation workflow.
#
# This workflow is used to validate the Dojoup post-install process.
# It will check if the Dojoup post-install process is successful by running
# the Dojoup post-install validation script.
#

name: dojoup

on:
  workflow_dispatch:
  push:
    paths:
      - dojoup/**
      - .github/workflows/dojoup.yml

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: 1.85.0
  REGISTRY_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  post-install-validation:
    name: ${{ matrix.job.target }} (${{ matrix.job.os }})
    runs-on: ${{ matrix.job.os }}
    env:
      PLATFORM_NAME: ${{ matrix.job.platform }}
      TARGET: ${{ matrix.job.target }}
      ARCH: ${{ matrix.job.arch }}
    strategy:
      matrix:
        job:
          # The OS is used for the runner
          # The platform is a generic platform name
          # The target is used by Cargo
          # The arch is either 386, arm64 or amd64
          # The svm target platform to use for the binary https://github.com/roynalnaruto/svm-rs/blob/84cbe0ac705becabdc13168bae28a45ad2299749/svm-builds/build.rs#L4-L24
          - os: ubuntu-latest-4-cores
            platform: linux
            target: x86_64-unknown-linux-gnu
            arch: amd64
          - os: ubuntu-latest-4-cores
            platform: linux
            target: aarch64-unknown-linux-gnu
            arch: arm64
            svm_target_platform: linux-aarch64
          - os: macos-latest
            platform: darwin
            target: x86_64-apple-darwin
            arch: amd64
          - os: macos-latest
            platform: darwin
            target: aarch64-apple-darwin
            arch: arm64

    steps:
      - uses: actions/checkout@v4

      - name: Run post-install validation
        run: ./dojoup/post_install_check.sh
