name: preview

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest-32-cores

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache/prebuild
          key: ${{ runner.os }}-buildx-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ github.ref_name }}
            ${{ runner.os }}-buildx-

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache/build
          key: ${{ runner.os }}-buildx-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ github.ref_name }}
            ${{ runner.os }}-buildx-

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set outputs
        id: vars
        run: |
          set -eux
          git config --global --add safe.directory "${{ github.workspace }}"
          echo "sha_short=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .github/Dockerfile
          load: true
          tags: build-local:latest
          cache-from: type=local,src=/tmp/.buildx-cache/prebuild
          cache-to: type=local,dest=/tmp/.buildx-cache-new/prebuild,mode=max
          platforms: linux/amd64

      - name: Build local binaries
        run: |
          set -eux
          docker run --rm -v "$(pwd)/artifacts/$PLATFORM:/artifacts" build-local:latest /bin/sh -c "cp -r /app/artifacts/* /artifacts/"
        env:
          PLATFORM: linux/amd64

      - name: Build and push docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}:preview--${{ steps.vars.outputs.sha_short }}
          cache-from: type=local,src=/tmp/.buildx-cache/build
          cache-to: type=local,dest=/tmp/.buildx-cache-new/build,mode=max
          platforms: linux/amd64
          build-contexts: |
            artifacts=artifacts

      - # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache/prebuild
          mv /tmp/.buildx-cache-new/prebuild /tmp/.buildx-cache/prebuild
          rm -rf /tmp/.buildx-cache/build
          mv /tmp/.buildx-cache-new/build /tmp/.buildx-cache/build
